*{
    box-sizing: border-box;
}
body{
    display: flex;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #fbf4dc;
    width: 100vw;
    height: 100vh;
}
#app{
    width: 100%;
    height: 100%;
}
.main-view{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding-left: 40px;
    height: 100%;
}

/* Navigation menu component */
.nav-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    gap: 11px;
    padding: 10px;
    margin-top: 0px;
    height: 100vh;
    left: -210px;
    z-index: 2;
    background-color: #fbf4dc;
    transition: ease-in-out transform 0.15s;
}

.nav-menu-border{
    width: 2px;
    height: 98%;
    background-color: #000;
    position: absolute;
    left: 250px;
}
.border{
    width: 2px;
    height: 98%;
    border-right: 2px solid black;
}
.nav-menu:hover{
    transform: translateX(210px);
    box-shadow: 10px 4px 40px 4px black;
}
.nav-button-container{
    display: flex;
    flex-direction: column;
    gap: 11px;
    visibility: hidden;
}
.nav-menu:hover > .nav-menu-header, 
.nav-menu:hover > .nav-button-container{
    visibility: visible;
}
.nav-menu:hover > .nav-menu-arrow{
    visibility: hidden;
}
    
.nav-menu-header{
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 2px;
    color:#000;
    text-align: center;
    border-bottom: 2px solid #000;
    visibility: hidden;
}
.nav-menu-arrow{
    position: absolute;
    left: 205px;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.nav-button {
  padding: 1.3em 3em;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #000;
  background-color: #cfc092;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease 0s;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  outline: none;
}

/* Navigation menu component end */


/* Top-bar component */

.top-bar{
    height: 50px;
    border-bottom: 2px solid black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.top-bar-header{
    font-size: 1.7em;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Top-bar component */


/* Sow card view */
.button{
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #cfc092;
    color: #000;
    border: none;
    font-weight: 600;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease 0s;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.5em 1em;
}

.button:hover,
.nav-button:hover{
    box-shadow:inset 0px 0px 0px 2px #000;
}

.button:active,
.nav-button:active{
    color: #fff;
    background-color: #614c00;
}

.sow-card-container{
    display: flex;
    justify-content:stretch;
    padding: 3px 0px;
    
}

.sow-card {
    width: 100vw;
    border-spacing: 0px;
    font-size: 1.2vw;
    text-align: center;
}

.sow-card-header th{
    border-bottom: 3px;
    border-right: 3px;
    border-top: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: #000;
    padding: 5px 5px;
    user-select: none;
}

.sow-card-row:hover{
    background-color: rgba(232, 161, 30, 0.37);
}
.sow-card td{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-weight: 540;
    max-width: 5vw;
}
.sow-card-input{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    background-color: inherit;
    border: none;
    font-size: 1em;
    font-weight: 540;
    text-align: center;
}

.sow-card-insemination{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: none;
    font-size: 1em;
    font-weight: 540;
    text-align: center;

}
.save-litter{
    font-size: large;
    background-color: #57b757;
    position: absolute;
    left: 45vw;
    margin-top: 20px;
}

/* Sow card view end */


/* Sow grid selector component */

.modal-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    z-index: 1;
}
.sow-select-grid{
    width: 40vw;
    height: 40vw;
    background-color: #fbf4dc;
    border: 2px solid #000;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 20px;
}
.sow-select-grid-button{
    cursor: pointer;
    background-color: #8f8f8f;
    border-radius: 5px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.1s ease 0s;
    font-weight: 600;
    font-size: 1em;
}
.sow-select-grid-button:hover{
    transform: translateY(-1px);
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.4);
}
.bg-farrowed {
    background-color: #ff5c5c;
}
.bg-free {
    background-color: #20cc26;
}
.bg-inseminated {
    background-color: #119afd;
}
.bg-gravid {
    background-color: #f0af24;
}

/* Sow grid selector component */



/* Sow form component */

.sow-form{
    background-color: #fbf4dc;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 20px;
    padding: 1vw;
    box-shadow: inset 0px 0px 0px 2px #000; 
    z-index: 1;
}

.form-header{
    padding: 2vh;
    font-size: 1.3em;
    font-weight: 900;
    border-bottom: 2px solid #000;
    text-align: center;
    letter-spacing: 2px;
}

.sow-form-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 0px 1vw;

}

.form-input{
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    letter-spacing: 2px;
    min-height: 6vh; 
    border: none;
    box-shadow: inset 0px 0px 0px 2px #a3a3a3; 
    font-size: 1.1em;
    padding: 10px;
}

.form-input:hover{
    cursor:pointer;
    box-shadow: inset 0px 0px 0px 2px #000000;
}

.form-input:active{
    background-color: #f8de8b;;
}

.form-input-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 2px;
}

.form-input-buttons{
    display: flex;
    justify-content: space-between;
}

.form-input-select:hover{
    cursor: pointer;
}

.form-input:focus-visible{
    outline: none;
    box-shadow: 2px 2px 5px 2px;
}

.form-textarea{
    overflow:scroll;
    scrollbar-width: none;
    min-height: 20vh;
    max-width: 26vw;
    min-width: 26vw;
    letter-spacing: normal;
    font-size: 1vw;
}

.form-input-save{
    background-color: #57b757;
}

/* Sow form component end */

/* Alert component */

.alert-close{
    width: 2vw;
    height: 2vw;
    border-radius: 100px;
    padding: 5px;
}
.alert-close:hover{
    cursor: pointer;
    border: #000 1px solid;
}
.alert{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    bottom: 5vh;
    right: 5vh;
    width: 20vw;
    height: 10vh;
    z-index: 4;
    padding: 10px;
    font-weight: bold;
    background-color: #8f8f8f;
    font-size: 1vw;
}
.error{
    color: #ff0000;
    background-color: #fcb8a6;
    border: 2px solid #ff0000;
}
.success{
    color: #01a401;
    background-color: #7dfa6e;
    border: 2px solid #00ff00;
}
.info{
    color: #614c00;
    background-color: #fdce69;
    border: 2px solid #ffaa00;
}
.alert-transition-enter-active {
  transition: all 0.3s ease-out;
}
.alert-transition-leave-active {
  transition: all 0.3s ;
}
.alert-transition-enter-from {
  transform: translateX(25vw);
}
.alert-transition-leave-to {
  transform: translateX(25vw);  
}

/* Alert component end */

/* Date selector component */

.date-selector-container{
    position: absolute;
    width: 30vw;
    background-color: #fbf4dc;
    box-shadow: inset 0px 0px 0px 2px #000; 
    z-index: 3;
    top: 4vw;
    left: 66vw;
    padding: 20px;
    user-select: none;
}

.date-selector-header{
    display: flex;
    justify-content: space-between;
    border-bottom: #000  2px solid;
    padding: 20px;
    font-size: 1.6em;
    letter-spacing: 3px;
    font-weight: 700;
}

.date-selector-body{
    font-weight: 800;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
}

.date-selector-button{
    border-radius: 0px;
    box-shadow: none;
}

.day-select{
    display: flex;
    border-radius: 0px;
    height: 3vw;
    width: 3vw;
    padding: 0px;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

.otherMonth{
    color: #6f6f6f;
}

/* Date selector component end */

/* Calendar view */

.calendar-container{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 1vw;
    flex: 1;
    overflow-x: hidden;
}

.calendar-header{
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.calendar-date-selector-button{
    height: 5vh;
    width: 10vw;
}

.calendar-weekdays{
    display: grid;
    padding: 1vh 0;
    grid-template-columns: repeat(7, minmax(0,1fr));
}

.calendar-day-name{
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
}

.calendar-body{
    display: grid;
    font-weight: 800;
    padding: 10px;
    grid-template-columns: repeat(7, minmax(0,1fr));
    column-gap: 5px;
    row-gap: 7px;
    text-align: center;
    flex-grow: 2;
    justify-content: stretch;
}

.calendar-day-select{
    font-size: 1.1em;
    border-radius: 0px;
    text-align: start;
}

.calendar-day-select:has(.calendar-day-event:active){
    background-color: #cfc092;
    color: #000;
}

.calendar-day-event{
    padding: 5px ;
    color: #000;
    font-size: 0.9em;
    text-wrap: balance;
}

.calendar-day-event:hover{
    box-shadow:inset 0px 0px 0px 2px #000;
}

.insemination{
    background-color: #8f8fff;
}

.insemination:active{
    background-color: #6363f0;
}

.predfarrowing{
    background-color: #fff676;
    pointer-events: none;
}

.farrowing{
    background-color: #ff7878;
}

.farrowing:active{
    background-color: #fb5151;
}

.weaning{
    background-color: #90ff90;
}

.weaning:active{
    background-color: #36f436;
}

/* Calendar view end */

/* Event form */

.event-form-container{
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    background-color: #fbf4dc;
    width: 23vw;
    z-index: 20;
    box-shadow: inset 0px 0px 0px 2px #000; 
    padding: 1vw;
}

.event-sows-headers{
    box-shadow: inset #000 0px -3px 0px -1px;
    padding:  0.5vh 0px;
}

.event-sow-note-header{
    flex: 2;
}

.event-sow-number-header{
    flex: 1;    
}

.event-sow-litter_no-header{
    flex: 1;    
}

.event-sows-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vh;
}

.event-sow-number{
    letter-spacing: 2px;
    box-shadow: inset 0px 0px 0px 2px #a3a3a3; 
    font-size: 1.1em;
    padding: 10px;
    flex: 1;    
}

.event-sow-litter_no{
    flex: 1;    
}

.event-sow-note{
    flex: 3;
    box-shadow: inset 0px 0px 0px 2px #a3a3a3; 
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 10px;
    background-color: inherit;
    border: none;
    font-size: 1em;
    font-weight: 540;
    min-width: 0px;
}

.event-sow-note:hover{
    box-shadow: inset 0px 0px 0px 2px #000000;
}
.event-sow-note:focus{
    outline-style: none;
    box-shadow: inset 0px 0px 0px 2px #000000;
}

.checkbox-wrapper {
    display: flex;
    gap: 1em;
    flex-direction: row;
    align-items: center; 
    position: relative;  
}

.form-input-checkbox {
    cursor: pointer;
    appearance: none;
    margin: 0;
    box-shadow: inset 0px 0px 0px 2px #000000;
    width: 1.3em;
    height: 1.3em;
    flex-shrink: 0;
}

.checkbox-checkmark {
    position: absolute;
    left: 0.1em; 
    top: 50%;
    transform: translateY(-50%);
    width: 0.9em;  
    height: 0.9em;
    pointer-events: none; 
    
    display: none; 
    
    fill: none;
    stroke: #000000;       
    stroke-width: 6px;     
    stroke-linecap: round;  
    stroke-linejoin: round; 
}

.form-input-checkbox:checked + .checkbox-checkmark {
    display: block;
}

.checkbox-label {
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
    user-select: none;
}
/* Event form end */

/* Confirm popup */

.confirm-popup{
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: #fbf4dc;
    box-shadow: inset 0px 0px 0px 2px #000000;
    font-weight: 600;
    max-width: 30vw;
    font-size: 1.3em;
    padding: 2vw;
    text-align: center;
}

/* Confirm popup end */