*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #fbf4dc;
    width: 100vw;
    height: 100vh;
}
#app{
    width: 100%;
    height: 100%;
}
.main-view{
    padding-left: 40px;
}
/* Navigation component style */
.nav-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    gap: 11px;
    padding: 10px;
    margin-top: 0px;
    height: 100vh;
    left: -210px;
    z-index: 2;
    background-color: #fbf4dc;
}

.nav-menu-border{
    width: 2px;
    height: 98%;
    background-color: #000;
    position: absolute;
    left: 250px;
}
.border{
    width: 2px;
    height: 98%;
    border-right: 2px solid black;
}
.nav-menu:hover{
    left: 0;
    box-shadow: 10px 4px 40px 4px black;
}
.nav-button-container{
    display: flex;
    flex-direction: column;
    gap: 11px;
    visibility: hidden;
}
.nav-menu:hover > .nav-menu-header, 
.nav-menu:hover > .nav-button-container{
    visibility: visible;
}
.nav-menu:hover > .nav-menu-arrow{
    visibility: hidden;
}
    
.nav-menu-header{
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 2px;
    color:#000;
    text-align: center;
    border-bottom: 2px solid #000;
    visibility: hidden;
}
.nav-menu-arrow{
    position: absolute;
    left: 205px;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.nav-button {
  padding: 1.3em 3em;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #000;
  background-color: #cfc092;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease 0s;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  outline: none;
}

/* Top-bar component */

.top-bar{
    height: 50px;
    border-bottom: 2px solid black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.top-bar-header{
    font-size: 1.7em;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Sow card view */
.button{
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #cfc092;
    border: none;
    color: #000;
    font-weight: 600;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease 0s;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.5em 1em;
}

.button:hover,
.nav-button:hover{
    box-shadow:inset 0px 0px 0px 2px #000;
}

.button:active,
.nav-button:active{
    color: #fff;
    background-color: #614c00;
}

.sow-card-container{
    display: flex;
    justify-content:stretch;
    padding: 3px 0px;
    
}

.sow-card {
    width: 100vw;
    border-spacing: 0px;
    font-size: 1.15em;
    text-align: center;
}

.sow-card td{
    padding: 15px;
}

.sow-card-header th{
    border-bottom: 3px;
    border-right: 3px;
    border-top: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: #000;
    padding: 5px 5px;
}

.sow-card td{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-weight: 540;
}

/* Sow select container */

.modal-container{
    position: fixed;
    width: 100vw;
    height: 100vw;
    backdrop-filter: blur(1px);
    z-index: 1;
}
.sow-select-grid{
    position: absolute;
    top: 3vw;
    left: 30vw;
    width: 40vw;
    height: 40vw;
    background-color: #fbf4dc;
    border: 2px solid #000;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 20px;
}
.sow-select-grid-button{
    cursor: pointer;
    background-color: #8f8f8f;
    border-radius: 5px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.1s ease 0s;
    font-weight: 600;
    font-size: 1em;
}
.sow-select-grid-button:hover{
    transform: translateY(-1px);
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.4);
}
.bg-farrowed {
    background-color: #ff5c5c;
}
.bg-free {
    background-color: #20cc26;
}
.bg-inseminated {
    background-color: #119afd;
}

/* Sow form */

.sow-form{
    position: absolute;
    background-color: #fbf4dc;
    top: 4vw;
    left: 35vw;
    width: 30vw;
    /* height: 30vw; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 20px;
    padding: 1vw;
    box-shadow: inset 0px 0px 0px 2px #000; 
    z-index: 1;
}

.sow-form-header{
    padding: 20px;
    font-size: 1.3em;
    font-weight: 900;
    border-bottom: 2px solid #000;
    text-align: center;
    letter-spacing: 2px;
}

.sow-form-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 0px 1vw;

}

.form-input{
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    letter-spacing: 2px;
    height: 6vh; 
    border: 2px solid #000;   
    font-size: 1.1em;
    padding: 10px;
}

.form-input-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 2px;
}

.form-input-buttons{
    display: flex;
    justify-content: space-between;
}

.form-input-select:hover{
    cursor: pointer;
}

.form-input:focus-visible{
    outline: none;
    box-shadow: 2px 2px 5px 2px;
}

.form-textarea{
    overflow:scroll;
    scrollbar-width: none;
    min-height: 20vh;
    max-width: 26vw;
    min-width: 26vw;
    letter-spacing: normal;
    font-size: 1vw;
}

.form-input-save{
    background-color: #57b757;
}


/* Alert */

.alert-close{
    width: 2vw;
    height: 2vw;
    border-radius: 100px;
    padding: 5px;
}
.alert-close:hover{
    cursor: pointer;
    border: #000 1px solid;
}
.alert{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    top: 1vh;
    left: 30vw;
    width: 40vw;
    height: 10vh;
    z-index: 4;
    padding: 10px;
    font-weight: bold;
    background-color: #8f8f8f;
    font-size: 1vw;
}
.error{
    color: #ff0000;
    background-color: #fcb8a6;
    border: 2px solid #ff0000;
}
.success{
    color: #01a401;
    background-color: #7dfa6e;
    border: 2px solid #00ff00;
}
.info{
    color: #614c00;
    background-color: #fdce69;
    border: 2px solid #ffaa00;
}
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}
.slide-fade-leave-active {
  transition: all 0.5s ;
}
.slide-fade-enter-from {
  transform: translateY(-10vh);
}
.slide-fade-leave-to {
    opacity: 0;
}

/* Date selector component */

.date-selector-container{
    position: absolute;
    width: 30vw;
    background-color: #fbf4dc;
    box-shadow: inset 0px 0px 0px 2px #000; 
    z-index: 3;
    top: 4vw;
    left: 66vw;
    padding: 20px;
    user-select: none;
}

.date-selector-header{
    display: flex;
    justify-content: space-between;
    border-bottom: #000  2px solid;
    padding: 20px;
    font-size: 1.6em;
    letter-spacing: 3px;
    font-weight: 700;
}

.date-selector-body{
    font-weight: 800;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
}

.date-selector-button{
    border-radius: 0px;
    box-shadow: none;
}

.day-select{
    display: flex;
    border-radius: 0px;
    height: 3vw;
    width: 3vw;
    padding: 0px;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

.otherMonth{
    color: #6f6f6f;
}
